Telegram_AI_Bot.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -80
      ],
      "id": "715ef231-2917-453a-959a-6b2af49b95ff",
      "name": "Telegram Trigger",
      "webhookId": "7260656c-fa84-4ceb-b10d-7349387d17e9",
      "credentials": {
        "telegramApi": {
          "id": "gslWUl9q8GnaK1ot",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        -32
      ],
      "id": "d9f8e70b-43a8-4d72-980a-692ea9f7ce5b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -208,
        176
      ],
      "id": "da908812-9c85-46a3-a0bb-d5478455c431",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "B0GYFNdLzUckekjq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -64,
        144
      ],
      "id": "c3985b8a-44fe-4690-9686-f62caebed9a6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -32
      ],
      "id": "1084177e-d7d2-4d9d-a0cc-63f3c63a92b8",
      "name": "Send a text message",
      "webhookId": "ec0c634e-a174-4030-85df-ffd0c8656cfb",
      "credentials": {
        "telegramApi": {
          "id": "gslWUl9q8GnaK1ot",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55d3b59970d7ae68c6707321e79be564fc358f8143d9c641a615d0ceb280c82e"
  }
}